<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Rwiki</title>

    <!-- ** CSS ** -->
    <%= stylesheet_link_merged :extjs %>
    <%= stylesheet_link_merged :markitup %>
    <%= stylesheet_link_merged :rwiki %>

    <!-- ** Javascript ** -->
    <%= javascript_include_merged :jquery %>
    <script src="/javascripts/vendor/ext/adapter/jquery/ext-jquery-adapter.js" type="text/javascript"></script>
    <script src="/javascripts/vendor/ext/ext-all.js" type="text/javascript"></script>
    <%= javascript_include_merged :extjs %>
    <%= javascript_include_merged :markitup %>
    <%= javascript_include_merged :rwiki %>

    <script type="text/javascript">
      Ext.onReady(function() {
        Rwiki.init();
      });
    </script>
  </head>

  <body>
    <!-- Fields required for history management -->
    <form id="history-form" class="x-hidden">
      <input type="hidden" id="x-history-field" />
      <iframe id="x-history-frame"></iframe>
    </form>

    <div id="editor-container" class="x-hide-display">
      <textarea id="editor" name="content"></textarea>
    </div>
  </body>

  <!--<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css' />-->
</html>
